{
	"listen": {
		"interface": "enp0s31f6",
		"icmp": true,
		"ports": [ 21, 22, 80, 443 ]
	},
	"notification": {
		"latency_seconds": 60,
		"email_destination": "phil@abc.co.uk",
		"email_source": "test@abc.co.uk",
		"email_subject": "Tiny-Tripwire Incident Report"
	},
	"smtp": {
		"hostname": "smtp.mailgun.org",
		"usetls": false,
		"verifyca": false,
		"port": 465,
		"username": "tripwire@abc.co.uk",
		"password": "not-a-real-password"
	}
}